@import "tailwindcss";

:root {
  --color-primary: #ff7832;
}

* {
  max-width: 100%;
}

html,
body,
#root {
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

body {
  @apply bg-white text-gray-900;
  font-family: Inter, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
